In [1]:
# let's take one dataset for example
from multilab.datasets import reuter
sentences, labels = reuter()

[nltk_data] Downloading package reuters to /Users/monk/nltk_data...
[nltk_data]   Package reuters is already up-to-date!

In [3]:
# importing preprocessing class
# let's play with that

from multilab.preprocess import Text_preprocessing
text_preprocessing = Text_preprocessing()

In [4]:
# convert sentences and labels to dataframe with one hot

dataframe = text_preprocessing.labels_to_dataframe(sentences,labels)

In [5]:
dataframe.head(2)

,acq,alum,barley,bop,carcass,castor-oil,cocoa,coconut,coconut-oil,coffee,...,sunseed,tea,tin,trade,veg-oil,wheat,wpi,yen,zinc,text
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,BAHIA COCOA REVIEW\n Showers continued throug...
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,COMPUTER TERMINAL SYSTEMS &lt;CPML> COMPLETES ...

In [6]:
# let's check average length of sentences 

print(text_preprocessing.get_sentence_length(dataframe))

#let's chuck all sentences upto 150 because avergae length is 127

100%|██████████| 10788/10788 [00:00<00:00, 79239.12it/s]

max 1672 min 2 average 127.76279199110122

In [14]:
# let's do some initial preprocessing which include lowercase, remove html, remove special symbols

# optional arguments : stop words, stemming, chunk values
preprocessded_dataset = text_preprocessing.initial_preprocess(dataframe, chunk_value = 150)

lower_case done
punctuation removed
text cleaning done

In [15]:
preprocessded_dataset.head(2)

,acq,alum,barley,bop,carcass,castor-oil,cocoa,coconut,coconut-oil,coffee,...,sunseed,tea,tin,trade,veg-oil,wheat,wpi,yen,zinc,text
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,bahia cocoa review showers continued throughou...
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,computer terminal systems ltcpml completes sal...

In [16]:
# the dataset have 90 labels but if we don't want to use all the labels we can slice the dataset
# based on labels 

# options to slice dataset : 
# keep_ratio = keep 25%, 50%, 75% or any % of dataset
# freq_value = keep only those labels which are coming more than n ( ex: 10 ) times


# let first get the frequency of dataset then slice

dataset, frequency_list = text_preprocessing.keep_labels(preprocessded_dataset)
frequency_list

[('earn', 3964),
 ('acq', 2369),
 ('money-fx', 717),
 ('grain', 582),
 ('crude', 578),
 ('trade', 485),
 ('interest', 478),
 ('ship', 286),
 ('wheat', 283),
 ('corn', 237),
 ('dlr', 175),
 ('money-supply', 174),
 ('oilseed', 171),
 ('sugar', 162),
 ('coffee', 139),
 ('gnp', 136),
 ('gold', 124),
 ('veg-oil', 124),
 ('soybean', 111),
 ('bop', 105),
 ('nat-gas', 105),
 ('livestock', 99),
 ('cpi', 97),
 ('cocoa', 73),
 ('reserves', 73),
 ('carcass', 68),
 ('jobs', 67),
 ('copper', 65),
 ('cotton', 59),
 ('rice', 59),
 ('yen', 59),
 ('alum', 58),
 ('gas', 54),
 ('iron-steel', 54),
 ('ipi', 53),
 ('barley', 51),
 ('meal-feed', 49),
 ('rubber', 49),
 ('palm-oil', 40),
 ('sorghum', 34),
 ('zinc', 34),
 ('pet-chem', 32),
 ('tin', 30),
 ('lead', 29),
 ('silver', 29),
 ('wpi', 29),
 ('orange', 27),
 ('rapeseed', 27),
 ('strategic-metal', 27),
 ('soy-meal', 26),
 ('retail', 25),
 ('soy-oil', 25),
 ('fuel', 23),
 ('hog', 22),
 ('housing', 20),
 ('heat', 19),
 ('income', 16),
 ('lumber', 16),
 ('sunseed', 16),
 ('lei', 15),
 ('dmk', 14),
 ('oat', 14),
 ('tea', 13),
 ('platinum', 12),
 ('groundnut', 9),
 ('nickel', 9),
 ('l-cattle', 8),
 ('rape-oil', 8),
 ('coconut-oil', 7),
 ('sun-oil', 7),
 ('coconut', 6),
 ('instal-debt', 6),
 ('naphtha', 6),
 ('potato', 6),
 ('propane', 6),
 ('jet', 5),
 ('cpu', 4),
 ('nzdlr', 4),
 ('copra-cake', 3),
 ('cotton-oil', 3),
 ('dfl', 3),
 ('nkr', 3),
 ('palladium', 3),
 ('palmkernel', 3),
 ('rand', 3),
 ('castor-oil', 2),
 ('groundnut-oil', 2),
 ('lin-oil', 2),
 ('rye', 2),
 ('sun-meal', 2)]

In [13]:
# let say I want remove labels which are not coming more than 10 times in this dataset

dataset_, frequency_list_ = text_preprocessing.keep_labels(preprocessded_dataset,
                                                           freq_Value = 10)
frequency_list_

[('acq', 2369),
 ('alum', 58),
 ('barley', 51),
 ('bop', 105),
 ('carcass', 68),
 ('cocoa', 73),
 ('coffee', 139),
 ('copper', 65),
 ('corn', 237),
 ('cotton', 59),
 ('cpi', 97),
 ('crude', 578),
 ('dlr', 175),
 ('dmk', 14),
 ('earn', 3964),
 ('fuel', 23),
 ('gas', 54),
 ('gnp', 136),
 ('gold', 124),
 ('grain', 582),
 ('heat', 19),
 ('hog', 22),
 ('housing', 20),
 ('income', 16),
 ('interest', 478),
 ('ipi', 53),
 ('iron-steel', 54),
 ('jobs', 67),
 ('lead', 29),
 ('lei', 15),
 ('livestock', 99),
 ('lumber', 16),
 ('meal-feed', 49),
 ('money-fx', 717),
 ('money-supply', 174),
 ('nat-gas', 105),
 ('oat', 14),
 ('oilseed', 171),
 ('orange', 27),
 ('palm-oil', 40),
 ('pet-chem', 32),
 ('platinum', 12),
 ('rapeseed', 27),
 ('reserves', 73),
 ('retail', 25),
 ('rice', 59),
 ('rubber', 49),
 ('ship', 286),
 ('silver', 29),
 ('sorghum', 34),
 ('soy-meal', 26),
 ('soy-oil', 25),
 ('soybean', 111),
 ('strategic-metal', 27),
 ('sugar', 162),
 ('sunseed', 16),
 ('tea', 13),
 ('tin', 30),
 ('trade', 485),
 ('veg-oil', 124),
 ('wheat', 283),
 ('wpi', 29),
 ('yen', 59),
 ('zinc', 34)]

In [17]:
# another option let say I want to use only top 25% of labels from dataset

dataset_s , frequency_list_s = text_preprocessing.keep_labels(preprocessded_dataset,
                                                           keep_ratio=0.25)
frequency_list_s

[('acq', 2369),
 ('bop', 105),
 ('coffee', 139),
 ('corn', 237),
 ('crude', 578),
 ('dlr', 175),
 ('earn', 3964),
 ('gnp', 136),
 ('gold', 124),
 ('grain', 582),
 ('interest', 478),
 ('livestock', 99),
 ('money-fx', 717),
 ('money-supply', 174),
 ('nat-gas', 105),
 ('oilseed', 171),
 ('ship', 286),
 ('soybean', 111),
 ('sugar', 162),
 ('trade', 485),
 ('veg-oil', 124),
 ('wheat', 283)]

In [18]:
# if you don't want to use full data then sample the data

# options : 
# frac = % slice (ex 25% data)
# value = value slice (ex 1200 samples only )

slice_dataset = text_preprocessing.dataset_slice(dataset_s,ratio=0.25)

In [20]:
slice_dataset

,acq,bop,coffee,corn,crude,dlr,earn,gnp,gold,grain,...,money-supply,nat-gas,oilseed,ship,soybean,sugar,trade,veg-oil,wheat,text
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,new harding group sets first payout since ltne...
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,lucky stores inc ltlks reinstates quarterly di...
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,new dutch advances total billion guilders the ...
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,cobanco inc ltcbco year net shr cts vs dlrs ne...
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,park communications inc ltparco st qtr mar shr...
5,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,philippine long distance ltphi year net shr pr...
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,japan to promote interest rate liberalisation ...
7,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,campbell red lake ltcrk sets quarterly dividen...
8,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,the chubb corp ltcb sets qtrly payout qtrly ct...
9,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,bush industries ltbsh sees higher year results...
10,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,shared medical systems corp ltsmed sets payout...
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,us urges banks to weigh philippine debt plan t...
12,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,intellicorp ltinaio st qtr sept loss shr loss ...
13,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,sosnoff ends deal with pratt southmark on poss...
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,saudi riyal deposit rates ease saudi riyal int...
15,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,golden valley microwave ltgvmfo rd qtr net per...
16,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,india gets mln dlr world bank loan the world b...
17,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,lynch corp ltlgl unit buys television station ...
18,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,lennar corp ltlen nd qtr may shr cts vs cts ne...
19,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,arundel corp ltarl th qtr net shr dlrs vs dlrs...
20,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,cargill strike talks continuing today further ...
21,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,gencorp ltgy st qtr operating earnings rose ge...
22,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,esso malaysia reports higher profit in esso ma...
23,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,entre computer centers inc ltetre nd qtr loss ...
24,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,ltcanadian satellite communications six mths n...
25,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,american travellers ltatvc to make acquisition...
26,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,nz trading bank deposit growth eases slightly ...
27,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,lawson oil tax breaks to help new fields reven...
28,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,iep lifts ultramar and ogelbay norton stakes l...
29,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,mine safety appliances ltmnes to sell unit min...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2461,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,saudis drop condition for oil sale to brazil s...
2462,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,general refractories ltgrx to sell operations ...
2463,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,brazil seamen continue strike despite court hu...
2464,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,fidata corp ltfid th qtr loss shr loss two cts...
2465,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,harper and row lthpr to mull options after bid...
2466,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,american cyanamid ltacy changes record date am...
2467,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,ford canada cuts annual dividend by six dlrs t...
2468,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,ccc sells farmers stock peanuts offers more th...
2469,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,fed data indicate policy likely to stay on hol...
2470,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,norcen sees improvement in earnings ltnorcen e...
2471,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,uk grain exports continue to rise sharply the ...
2472,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,royale belge ltrbvbbr year nonconsolidated net...
2473,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,swift ltsftpf to sell south dakota pork plant ...
2474,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,general partners sells gencorp ltgy stake gene...
2475,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,usda denies changes in texas gulf differential...
2476,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,mar mar
2477,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,uk base rates will fall again soon say analyst...
2478,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,wilton enterprises inc ltwltn nd qtr jan net o...
2479,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,first interstate of iowa inc ltfiiao st qtr sh...
2480,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,orangeco inc ltoj nd qtr feb net shr profit dl...
2481,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,westinghouse says it expects at least pct earn...
2482,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,cyclops ltcyl holders approve dixons merger di...
2483,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ibc president not to attend ico executive boar...
2484,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,brazil cancels oil purchase from saudi arabia ...
2485,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,waste recovery inc ltwrii th qtr net shr loss ...
2486,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,dynamics research corp ltdrcoo st qtr march sh...
2487,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,carlton buys stake in central independent tv c...
2488,0,0,0,1,0,0,0,0,0,1,...,0,0,1,0,1,0,0,0,1,no grain to the ussr in latest week usda there...
2489,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,texas eastern corp lttet rd qtr net shr profit...
2490,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,technitrol inc lttnl th qtr shr cts vs cts net...