In [1]:
# let's take one dataset for example
from multilab.datasets import reuter
sentences, labels = reuter()

[nltk_data] Downloading package reuters to /Users/monk/nltk_data...
[nltk_data]   Package reuters is already up-to-date!

In [2]:
# importing preprocessing class
# let's play with that

from multilab.preprocess import Text_preprocessing
text_preprocessing = Text_preprocessing()

In [3]:
# convert sentences and labels to dataframe with one hot

dataframe = text_preprocessing.labels_to_dataframe(sentences,labels)

In [4]:
dataframe.head(2)

,acq,alum,barley,bop,carcass,castor-oil,cocoa,coconut,coconut-oil,coffee,...,sunseed,tea,tin,trade,veg-oil,wheat,wpi,yen,zinc,text
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,BAHIA COCOA REVIEW\n Showers continued throug...
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,COMPUTER TERMINAL SYSTEMS &lt;CPML> COMPLETES ...

In [5]:
# let's check average length of sentences 

print(text_preprocessing.get_sentence_length(dataframe))

#let's chuck all sentences upto 150 because avergae length is 127

100%|██████████| 10788/10788 [00:00<00:00, 82451.06it/s]

max 1672 min 2 average 127.76279199110122

In [6]:
# let's do some initial preprocessing which include lowercase, remove html, remove special symbols

# optional arguments : stop words, stemming, chunk values
preprocessded_dataset = text_preprocessing.initial_preprocess(dataframe, chunk_value = 150)

lower_case done
punctuation removed
text cleaning done

In [7]:
preprocessded_dataset.head(2)

,acq,alum,barley,bop,carcass,castor-oil,cocoa,coconut,coconut-oil,coffee,...,sunseed,tea,tin,trade,veg-oil,wheat,wpi,yen,zinc,text
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,bahia cocoa review showers continued throughou...
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,computer terminal systems ltcpml completes sal...

In [8]:
# the dataset have 90 labels but if we don't want to use all the labels we can slice the dataset
# based on labels 

# options to slice dataset : 
# keep_ratio = keep 25%, 50%, 75% or any % of dataset
# freq_value = keep only those labels which are coming more than n ( ex: 10 ) times


# let first get the frequency of dataset then slice

dataset, frequency_list = text_preprocessing.keep_labels(preprocessded_dataset)
frequency_list

[('earn', 3964),
 ('acq', 2369),
 ('money-fx', 717),
 ('grain', 582),
 ('crude', 578),
 ('trade', 485),
 ('interest', 478),
 ('ship', 286),
 ('wheat', 283),
 ('corn', 237),
 ('dlr', 175),
 ('money-supply', 174),
 ('oilseed', 171),
 ('sugar', 162),
 ('coffee', 139),
 ('gnp', 136),
 ('gold', 124),
 ('veg-oil', 124),
 ('soybean', 111),
 ('bop', 105),
 ('nat-gas', 105),
 ('livestock', 99),
 ('cpi', 97),
 ('cocoa', 73),
 ('reserves', 73),
 ('carcass', 68),
 ('jobs', 67),
 ('copper', 65),
 ('cotton', 59),
 ('rice', 59),
 ('yen', 59),
 ('alum', 58),
 ('gas', 54),
 ('iron-steel', 54),
 ('ipi', 53),
 ('barley', 51),
 ('meal-feed', 49),
 ('rubber', 49),
 ('palm-oil', 40),
 ('sorghum', 34),
 ('zinc', 34),
 ('pet-chem', 32),
 ('tin', 30),
 ('lead', 29),
 ('silver', 29),
 ('wpi', 29),
 ('orange', 27),
 ('rapeseed', 27),
 ('strategic-metal', 27),
 ('soy-meal', 26),
 ('retail', 25),
 ('soy-oil', 25),
 ('fuel', 23),
 ('hog', 22),
 ('housing', 20),
 ('heat', 19),
 ('income', 16),
 ('lumber', 16),
 ('sunseed', 16),
 ('lei', 15),
 ('dmk', 14),
 ('oat', 14),
 ('tea', 13),
 ('platinum', 12),
 ('groundnut', 9),
 ('nickel', 9),
 ('l-cattle', 8),
 ('rape-oil', 8),
 ('coconut-oil', 7),
 ('sun-oil', 7),
 ('coconut', 6),
 ('instal-debt', 6),
 ('naphtha', 6),
 ('potato', 6),
 ('propane', 6),
 ('jet', 5),
 ('cpu', 4),
 ('nzdlr', 4),
 ('copra-cake', 3),
 ('cotton-oil', 3),
 ('dfl', 3),
 ('nkr', 3),
 ('palladium', 3),
 ('palmkernel', 3),
 ('rand', 3),
 ('castor-oil', 2),
 ('groundnut-oil', 2),
 ('lin-oil', 2),
 ('rye', 2),
 ('sun-meal', 2)]

In [9]:
# let say I want remove labels which are not coming more than 10 times in this dataset

dataset_, frequency_list_ = text_preprocessing.keep_labels(preprocessded_dataset,
                                                           freq_Value = 10)
frequency_list_

[('acq', 2369),
 ('alum', 58),
 ('barley', 51),
 ('bop', 105),
 ('carcass', 68),
 ('cocoa', 73),
 ('coffee', 139),
 ('copper', 65),
 ('corn', 237),
 ('cotton', 59),
 ('cpi', 97),
 ('crude', 578),
 ('dlr', 175),
 ('dmk', 14),
 ('earn', 3964),
 ('fuel', 23),
 ('gas', 54),
 ('gnp', 136),
 ('gold', 124),
 ('grain', 582),
 ('heat', 19),
 ('hog', 22),
 ('housing', 20),
 ('income', 16),
 ('interest', 478),
 ('ipi', 53),
 ('iron-steel', 54),
 ('jobs', 67),
 ('lead', 29),
 ('lei', 15),
 ('livestock', 99),
 ('lumber', 16),
 ('meal-feed', 49),
 ('money-fx', 717),
 ('money-supply', 174),
 ('nat-gas', 105),
 ('oat', 14),
 ('oilseed', 171),
 ('orange', 27),
 ('palm-oil', 40),
 ('pet-chem', 32),
 ('platinum', 12),
 ('rapeseed', 27),
 ('reserves', 73),
 ('retail', 25),
 ('rice', 59),
 ('rubber', 49),
 ('ship', 286),
 ('silver', 29),
 ('sorghum', 34),
 ('soy-meal', 26),
 ('soy-oil', 25),
 ('soybean', 111),
 ('strategic-metal', 27),
 ('sugar', 162),
 ('sunseed', 16),
 ('tea', 13),
 ('tin', 30),
 ('trade', 485),
 ('veg-oil', 124),
 ('wheat', 283),
 ('wpi', 29),
 ('yen', 59),
 ('zinc', 34)]

In [10]:
# another option let say I want to use only top 25% of labels from dataset

dataset_s , frequency_list_s = text_preprocessing.keep_labels(preprocessded_dataset,
                                                           keep_ratio=0.25)
frequency_list_s

[('acq', 2369),
 ('bop', 105),
 ('coffee', 139),
 ('corn', 237),
 ('crude', 578),
 ('dlr', 175),
 ('earn', 3964),
 ('gnp', 136),
 ('gold', 124),
 ('grain', 582),
 ('interest', 478),
 ('livestock', 99),
 ('money-fx', 717),
 ('money-supply', 174),
 ('nat-gas', 105),
 ('oilseed', 171),
 ('ship', 286),
 ('soybean', 111),
 ('sugar', 162),
 ('trade', 485),
 ('veg-oil', 124),
 ('wheat', 283)]

In [11]:
# if you don't want to use full data then sample the data

# options : 
# frac = % slice (ex 25% data)
# value = value slice (ex 1200 samples only )

slice_dataset = text_preprocessing.dataset_slice(dataset_s,ratio=0.25)

In [12]:
# get the vocabulary frequency and then decide how many words you want to keep in vocab

# options :
# keep ration  = keep top 25%, 50%, 75% or any % vocab
# freq_value   = keep only those words whose frequency is >= freq_value
# custom_value = keep top n ( ex 1400 )  words 

# first checking the vocab freq : all arguments are false
sorted_long, freq_num, word_to_int, int_to_word  = text_preprocessing.vocab_freq(slice_dataset)

100%|██████████| 2491/2491 [00:00<00:00, 80622.35it/s]

In [14]:
print(sorted_long[:10])
print(len(sorted_long))

[('the', 9712), ('of', 5871), ('to', 5342), ('mln', 4376), ('in', 4167), ('said', 3878), ('and', 3813), ('a', 3796), ('vs', 3694), ('dlrs', 2393)]
13615

In [15]:
# or use top 25% words
top_words, freq_lis, w2i, i2w = text_preprocessing.vocab_freq(slice_dataset,keep_ratio=0.25)

100%|██████████| 2491/2491 [00:00<00:00, 110435.92it/s]

In [16]:
len(top_words)

3403

In [17]:
# or use only those words whose frequency is more than 12
freq_words, fre_li , w2_i, i_2w = text_preprocessing.vocab_freq(slice_dataset,freq_Value=12)

100%|██████████| 2491/2491 [00:00<00:00, 99911.17it/s]

In [19]:
print(len(freq_words))
print(freq_words[:10])

1756
[('a', 3796), ('ab', 13), ('able', 15), ('about', 416), ('above', 37), ('accept', 14), ('acceptances', 13), ('accepted', 31), ('access', 20), ('accord', 51)]

In [20]:
# let's encode the sentences 

all_sentences, all_labels, vocab_dict = text_preprocessing.encoder(slice_dataset,w2_i)

100%|██████████| 2491/2491 [00:01<00:00, 1811.00it/s]

In [24]:
print(len(all_sentences),len(all_sentences),len(vocab_dict))
print(all_sentences[1])
print(all_labels[0])

2491 2491 1758
[1, 1660, 1, 1, 1359, 1613, 1660, 479, 1, 1364, 851, 1704, 1730, 1592, 1036, 1040, 1737, 1, 1357, 1658, 229, 1613, 53, 1737, 1357, 1058, 1744, 55, 1, 1, 292, 1373, 1592, 757, 1694, 1592, 608, 765, 1602, 1744, 758, 1592, 1706, 1, 1, 1719, 702, 481, 1, 1459, 489, 825, 1716, 2, 1627, 1040, 1, 1357, 1710, 1737, 81, 1, 1508, 1586, 87, 1, 1311, 1592, 187, 655, 758, 479, 851, 1704, 1730, 767, 1040, 87, 1328, 236, 87, 1, 1710, 487, 1658, 229, 1606, 87, 1, 1, 1643, 33, 1737, 1357, 1, 1, 1373, 816, 1, 2, 1627, 1040, 1357, 479, 1057, 847, 1357, 26, 1052, 87, 479, 758, 1, 1698, 758, 242, 1592, 1, 1, 1694, 1658, 229, 1643, 1613, 53, 1058, 1744, 55]
[0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [25]:
# if you want to use tf-idf

all_sentences, all_labels = text_preprocessing.tf_idf(slice_dataset)

In [30]:
all_sentences

<2491x237052 sparse matrix of type '<class 'numpy.float64'>'
	with 484415 stored elements in Compressed Sparse Row format>